
.vertical-radio-buttons div {
	display: block;
	padding: 0 0 5px 5px;
	clear: both;
}
.vertical-radio-buttons span {
	display: block;
	padding-left: 20px;
	cursor: inherit;
}
.vertical-radio-buttons input {
	float: left;
	width: 10px;
	margin-left: -20px;
	margin-top: 6px; 
	padding: 0;
}
